* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 62.5%;

  color: #444444;
  background-color: #efefef;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  flex-direction: column;
  padding: 40px 25px;
}

.color-scheme__section {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 80px 0;
}

.color-scheme {
  font-size: 4rem;
  display: none;
  font-weight: 500;
}

.color-scheme--not-supported {
  display: initial;
}

.possible-color-schemes__section {
  margin-bottom: 40px;
}

.possible-color-schemes__title {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: 500;
}

.possible-color-schemes__list {
  display: flex;
  list-style: none;
}

.possible-color-scheme {
  font-size: 1.6rem;
  margin: 10px 0;
  font-weight: 400;
}

.possible-color-scheme + .possible-color-scheme {
  margin-left: 40px;
}

.footer {
  display: flex;
  justify-content: center;
  max-width: 440px;
  width: 100%;
}

.footer__link {
  flex: 1;
  padding: 20px 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (prefers-color-scheme: light) {
  .color-scheme--light {
    display: initial;
  }

  .possible-color-scheme--light {
    font-weight: bold;
  }

  .color-scheme--not-supported {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #be5046;
    background-color: #282c34;
  }

  .color-scheme--dark {
    display: initial;
  }

  .possible-color-scheme--dark {
    font-weight: bold;
  }

  .color-scheme--not-supported {
    display: none;
  }
}

@media (prefers-color-scheme: no-preference) {
  body {
    color: #be5046;
    background-color: #282c34;
  }

  .color-scheme--no-preference {
    display: initial;
  }

  .possible-color-scheme--no-preference {
    font-weight: bold;
  }

  .color-scheme--not-supported {
    display: none;
  }
}

@media (max-width: 470px) {
  .color-scheme {
    font-size: 3rem;
  }

  .possible-color-scheme + .possible-color-scheme {
    margin-left: 20px;
  }
}
